<div id="comment-container">
	<div id="line-marker"></div>
	<div>
		<mat-card class="comment">
			<mat-card-content id="comment-content">
				<p>{{ comment.content }}</p>
				<br />
				<p>{{ comment.username }}</p>
			</mat-card-content>
			<mat-card-footer id="comment-footer">
				<mat-card-actions>
					<button
						mat-raised-button
						(click)="
							upvote({
								commentId: comment.commentId,
								userId: this.userId
							})
						"
					>
						Upvote - {{ comment.votes }}
					</button>
					<button
						mat-raised-button
						(click)="openAddComment(comment.commentId)"
					>
						Reply to Comment
					</button>
					<button
						*ngIf="comment.userId == this.userId"
						mat-raised-button
						color="danger"
					>
						Delete
					</button>
				</mat-card-actions>
			</mat-card-footer>
		</mat-card>
		<div *ngFor="let child of comments">
			<app-comment-thread
				class="subthread"
				*ngIf="child.parentCommentId == comment.commentId"
				[comments]="comments"
				[parentCommentId]="comment.commentId"
			></app-comment-thread>
		</div>
	</div>
</div>
