<div id="splash-container">
	<mat-card>
		<mat-card-content id="welcome">
			<p>
				Hello and welcome to Shulgin! This is my passion project and I
				thought I'd give a little background on why this app exists in
				the first place. I struggle with ADHD and Bipolar disorder and
				have to take an assortment of prescription drugs to keep myself
				under control.
			</p>

			<p>
				There was a lot of trial and error figuring out which drugs
				worked best for me and I found that there was not a lot of
				information regarding the drugs that I was on and how they
				reacted with each other and decided to create something to help
				people who might have similar issues.
			</p>

			<p>
				Shulgin is an app for tracking your mood while taking
				pharmaceuticals and sharing your mood tracking data anonymously.
				As you track your mood and create journal entries, they are
				stripped of user information and saved as stories that are
				searchable by other users.
			</p>
			<p>
				Although you can opt out of public stories, it is recommended to
				share your experiences so that other users are more able to
				identify various effects and interactions between different
				drugs.
			</p>
		</mat-card-content>
	</mat-card>
</div>
