<div id="home-container">
	<mat-card id="profile-short">
		<div id="bio">
			<h1>{{ userProfile.username }}</h1>
			<ul>
				<li>{{ userProfile.funFact }}</li>
				<li>Reputation:{{ userProfile.reputation }}</li>
				<li>Status:{{ userProfile.status || "Beta Testing" }}</li>
			</ul>
		</div>
		<div id="user-drugs">
			<ul>
				<h3>Drugs I'm taking:</h3>
				<li *ngFor="let drug of userDrugs">
					{{ drug.drugName }} - {{ drug.dosage }}
					<span
						(click)="removeUserDrug(drug.drugId)"
						class="material-icons"
					>
						delete
					</span>
				</li>
			</ul>
			<div id="addDrugs">
				<span class="material-icons" (click)="goToDrugs()">
					control_point
				</span>
			</div>
		</div>
	</mat-card>

	<section id="user-stories">
		<h2>Your stories</h2>

		<div id="story-container">
			<mat-card class="user-story" *ngFor="let story of stories">
				<h3>{{ story.journal }}</h3>
				<p>Date: {{ story.date }}</p>
				<p>Overall rating: {{ story.rating }}</p>
			</mat-card>
		</div>
		<span class="material-icons" (click)="goToAddStory()"
			>control_point</span
		>
	</section>
</div>
