<div id="home-container">
	<mat-card id="profile-short">
		<div id="bio">
			<h1>{{ userProfile.username }}</h1>
			<ul>
				<li>{{ userProfile.funFact }}</li>
				<li>Reputation:{{ userProfile.reputation }}</li>
				<li>Status:{{ userProfile.status || "Beta Testing" }}</li>
			</ul>
		</div>
		<div id="user-drugs">
			<ul>
				<h3>Drugs I'm taking:</h3>
				<li *ngFor="let drug of userDrugs">
					{{ drug.drugName }} - {{ drug.dosage }}
					<span
						(click)="removeUserDrug(drug.drugId)"
						class="material-icons"
					>
						delete
					</span>
				</li>
			</ul>
			<div id="addDrugs">
				<span class="material-icons" (click)="goToDrugs()">
					control_point
				</span>
			</div>
		</div>
	</mat-card>

	<section id="user-stories">
		<h2>Your stories</h2>

		<div id="story-container">
			<mat-card class="story" *ngFor="let story of stories">
				<h2>{{ story.journal }}</h2>
				<h5>{{ story.date }}</h5>
				<h4></h4>
				<ul>
					<li>Calmness:{{ story.calmness }}</li>
					<li>Focus:{{ story.focus }}</li>
					<li>Creativity:{{ story.creativity }}</li>
					<li>Mood:{{ story.mood }}</li>
					<li>Irritability:{{ story.irritability }}</li>
					<li>Wakefulness:{{ story.wakefulness }}</li>
					<li>Overall Rating:{{ story.rating }}</li>
				</ul>
			</mat-card>
		</div>
		<span class="material-icons" (click)="goToAddStory()"
			>control_point</span
		>
	</section>
</div>
