@import "../../../styles.scss";

#navbar {
	width: 100vw;
	height: 8vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	background-color: mediumpurple;

	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		list-style: none;
		width: 100%;
		li {
			text-decoration: none;
			cursor: pointer;
			color: $light-accent-color;
		}
	}
}
