<div id="story-container">
	<mat-card class="story" *ngFor="let story of stories">
		<h2>{{ story.title }}</h2>
		<h5>{{ story.date }}</h5>
		<h5>Upvotes:{{ story.votes }}</h5>
		<br />
		<ul id="story-drugs">
			<li *ngFor="let drug of story.drugs">
				{{ drug.drugName }} - {{ drug.dosage }}
			</li>
		</ul>
		<br />
		<ul>
			<li>Calmness:{{ story.calmness }}</li>
			<li>Focus:{{ story.focus }}</li>
			<li>Creativity:{{ story.creativity }}</li>
			<li>Mood:{{ story.mood }}</li>
			<li>Irritability:{{ story.irritability }}</li>
			<li>Wakefulness:{{ story.wakefulness }}</li>
			<li>Overall Rating:{{ story.rating }}</li>
		</ul>
		<mat-card-actions>
			<button
				(click)="
					upvoteStory({
						storyId: story.storyId,
						userId: story.userId
					})
				"
			>
				Upvote
			</button>
		</mat-card-actions>
	</mat-card>
</div>
