#home-container {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	flex-direction: column;
	align-items: center;

	#profile-short {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 25vh;
		height: auto;

		#bio {
			display: flex;
			flex-direction: column;
			width: 40%;

			ul li {
				list-style: none;
			}
		}

		#user-drugs {
			display: flex;
			flex-direction: column;
			width: 60%;
			align-items: center;
			justify-content: center;
			text-align: center;

			h3 {
				font-weight: 500;
			}

			#addDrugs {
				display: flex;
				flex-direction: row;
				width: 100%;
				justify-content: center;
				align-items: center;
			}

			ul li {
				display: flex;
				align-items: center;
				list-style: none;
			}
		}
	}

	#user-stories {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;

		#user-stories-title {
			display: flex;
			align-items: center;
		}

		h2 {
			font-size: 1rem;
			font-weight: 500;
		}

		#story-container {
			height: 90%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			.story {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				width: 90%;
				margin-top: 1rem;
				ul {
					display: flex;
					flex-direction: row;
					width: 100%;
					flex-wrap: wrap;
					justify-content: center;
					li {
						list-style: none;
						margin-left: 1rem;
					}
				}
			}
		}
	}
}
