@import "../../../styles.scss";

#create-profile-card {
	display: flex;
	align-items: center;
	flex-direction: column;

	#create-profile-form {
		display: flex;
		flex-direction: column;
		width: 100%;

		.create-profile-checkbox {
			display: flex;
			flex-direction: row;
		}
	}

	mat-card-actions {
		button {
			background-color: $contrast-color;
		}
	}
}
