<form [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Age</label>
            <input name="age" formControlName="age">
        </div>
        <div class="form-field">
            <label>Weight</label>
            <input name="weight" formControlName="weight">
        </div>
		<div class="form-field">
            <label>Country</label>
            <input name="country" formControlName="country">
        </div>
		<div class="form-field">
            <label>Avatar</label>
            <input name="avatar" formControlName="avatar">
        </div>
		<div class="form-field">
            <label>FunFact</label>
            <input name="funFact" formControlName="funFact">
        </div>
		<div class="form-field">
            <label>Vaccinated</label>
            <input name="covidVaccine" formControlName="covidVaccine" type="checkbox">
        </div>
		<div class="form-field">
            <label>Smoker</label>
            <input name="smoker" formControlName="smoker" type="checkbox">
        </div>
		<div class="form-field">
            <label>Drinker</label>
            <input name="drinker" formControlName="drinker" type="checkbox">
        </div>
		<div class="form-field">
            <label>Opt Out</label>
            <input name="optOut" formControlName="optOut" type="checkbox">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="submitProfile()">Login</button>
    </div>
</form>
