@import "../../../styles.scss";

#add-story-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: 90%;
	top: 1rem;
	left: 5%;

	#story-form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	mat-card-actions {
		button {
			background-color: $contrast-color;
		}
	}
}
