<mat-card id="add-story-container">
	<mat-card-content>
		<form id="story-form" [formGroup]="form" (submit)="addStory()">
			
				<mat-label>Calmness:</mat-label>
				<mat-slider min="1" max="10" step="1" name="calmness" formControlName="calmness">
				</mat-slider>
			
			
				<mat-label>Focus:</mat-label>
				<mat-slider min="1" max="10" step="1" name="calmness" formControlName="calmness">
				</mat-slider>
			
				<mat-label>Creativity:</mat-label>
				<mat-slider min="1" max="10" step="1" name="calmness" formControlName="calmness">
				</mat-slider>
			
				<mat-label>Mood:</mat-label>
				<mat-slider min="1" max="10" step="1" name="calmness" formControlName="calmness">
				</mat-slider>
			
				<mat-label>Irritability:</mat-label>
				<mat-slider min="1" max="10" step="1" name="calmness" formControlName="calmness">
				</mat-slider>
			
				<mat-label>Wakefulness:</mat-label>
				<mat-slider min="1" max="10" step="1" name="calmness" formControlName="calmness">
				</mat-slider>
			
				<mat-label>Rating:</mat-label>
				<mat-slider min="1" max="10" step="1" name="calmness" formControlName="calmness">
				</mat-slider>
			
			<mat-form-field class="full-width">
				<mat-label>Title</mat-label>
				<input matInput name="title" formControlName="title" />
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>Journal</mat-label>
				<textarea
					matInput
					name="journal"
					formControlName="journal"
				></textarea>
			</mat-form-field>
			<button type="submit" style="display:none">hidden submit</button>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-flat-button (click)="addStory()">Add Story</button>
	</mat-card-actions>
</mat-card>
