@import "../../../styles.scss";

#add-story-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100%;

	#story-form {
		display: flex;
		flex-direction: column;
		width: 100%;

		.mat-accent .mat-slider-track-fill {
			background-color: blue !important;
		}

		.mat-slider-thumb-label {
			background-color: blue !important;
		}

		.mat-slider {
			color: white;
			//background-color: blue !important;
		}
	}

	mat-card-actions {
		button {
			background-color: $contrast-color;
		}
	}
}
